<header>
  <mat-toolbar role="heading" >
    <h1 layout="row" layout-align="center center" flex>Liste de fans de série</h1>
  </mat-toolbar>
</header>

<mat-sidenav-container class="nav">
  <mat-sidenav-content>
      <app-nav [listeLien]="listeLien"></app-nav>
  </mat-sidenav-content>
</mat-sidenav-container>
  
<mat-card-content class="content">
    <router-outlet></router-outlet>
</mat-card-content>

<mat-card-footer class="footer">
  <mat-toolbar>
    <span class="content-footer">&copy; Production Technobel Angular 2021</span>
  </mat-toolbar>
</mat-card-footer>
